<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>Royal Sundaram Mailer</title>
</head>

<body>
<table width="750" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td th:with="link=${Link.link}">
      <a th:text="${link}" target="_blank"><img src="src/main/resources/images/Mailer-V2.jpg" width="100%"></a>
      </td>
    </tr>
  </tbody>
</table>


</body>
</html>

<!-- href="https://my.royalsundaram.in/health-insurance/advanced-top-up"  -->